@charset "UTF-8";

/*インライン要素のスタイル*/
h2{
    display: inline;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 3.0em;
    border-bottom: 2px solid #29abe2;
}

@media screen and (max-width: 940px) {
    h2{
        font-size: 24px;
    }
}

h3{
    font-size: 28px;
    font-weight: bold;
    line-height: 2.0em;
    margin-bottom: 30px;
}

@media screen and (max-width: 940px) {
    h3{
        font-size: 20px;
    }
}

p{
    font-size: 16px;
    line-height: 2.0em;
}

@media screen and (max-width: 940px) {
    p{
        font-size: 14px;
    }
}
/*インライン要素のスタイルここまで*/

/* PC・SP時の切り替え*/
.pc{
    display: block;
}
.sp{
    display: none;
}

@media screen and (max-width: 940px) {
    .pc{
        display: none;
    }
    .sp{
        display: block;
    }
}
/* PC・SP時の切り替えここまで*/


/*ブロック要素のスタイル*/

/* header */
header{
    width: 100%;
    margin: 0;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    z-index: 999;
}

header .inner{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header #logo{
    width: 30%;
    padding: 20px;
}

@media screen and (max-width: 940px) {
    header #logo{
        width: 50%;
    }
}

header nav#gnav{
    width: 70%;
}

header nav#gnav a{
    display: inline-block;
    width: 16%;
    padding: 10px;
    text-align: center;
}

header nav#gnav > :last-child{
    padding: 50px 10px;
    background-color: #8cc63f;
    color: #fff;
}

@media screen and (max-width: 940px) {
    header nav#gnav{
        display: none;
    }
    header nav#gnav.open{
        display: block;
        width: 100%;
        margin: 0 auto 0 0;
        margin-top: 70px;
        background-color: rgba(255, 255, 255, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 888;
    }
    header nav#gnav a{
        width: 100%;
        padding: 10px 20px;
        border-bottom: 1px solid #999;
        display: block;
        color: #000;
    }
    header nav#gnav > :last-child{
        padding: 10px 10px;
    }
}

header #toggle{
    display: none;
}

@media screen and (max-width: 940px) {
    header #toggle{
        display: block;
        cursor: pointer;
        width: 60px;
        height: 40px;
        margin: 20px 10px 10px 0;
    }
    header #toggle span{
        display: block;
        position: relative;
    }
    header #toggle span:before{
        content:'';
        position: absolute;
        top:15px;
    }
    header #toggle span:after{
        content:'';
        position: absolute;
        top: 30px;
    }

    header #toggle span,span:before,span:after{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000;
        transition: all 0.3s;
        backface-visibility: hidden;
    }


    header #toggle.open span{
        background-color: transparent;
    }
    header #toggle.open span:after{
        transform:rotate(45deg) translate(-10px,-10px);
    }
    header #toggle.open span:before{
        transform:rotate(-45deg);
    }
}

nav.open{
   display: block;
}

/* main */

/* メインビジュアル */
#main_visual{
    width: 100%;
    min-height: 360px;
    margin-top: 100px;
    background-image: url(../images/main_visual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media screen and (max-width: 940px) {
    #main_visual{
        min-height: 300px;
        margin-top: 60px;
    }
}

#main_visual p{
    position: absolute;
    top: 90px;
    left: 1%;
    right: 1%;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 940px) {
    #main_visual p{
        top: 80px;
        font-size: 24px;
    }
}

/* TOP */
#top{
    width: 100%;
    padding: 60px 0;
    text-align: center;
}

@media screen and (max-width: 940px){
    #top p{
        text-align: justify;
    }
}

.wrap{
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
}

/* MESSAGE */
#message{
    padding: 60px 0;
    background-image: url(../images/back01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#message .col2{
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#message .col2 div:first-child{
    width: 240px;
    text-align: center;
}


#message .col2 div:last-child{
    width: 620px;
    text-align: justify;
}

@media screen and (max-width: 940px){
    #message .col2 div:first-child{
        width: 100%;
        margin-bottom: 30px;
    }

    #message .col2 div:first-child > img{
        max-width: 300px;
        margin: 0 auto;
    }

    #message .col2 div:last-child{
        width: 100%;
    }
}

/* MISSION */
#mission{
    padding: 60px 0;
    background-image: url(../images/back02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#mission ol{
    max-width: 940px;
    margin: 0 auto;
    font-size: 32px;
    font-weight: bold;
    line-height: 2.0em;
    text-align: left;
    counter-reset: count 0;
}

@media screen and (max-width: 940px){
    #mission ol{
        font-size: 18px;
    }
}

#mission ol li:before{
    color: #29abe2;
    content: counter(count) ". ";
    counter-increment: count 1;
}

/* WORKS */
#works{
    padding: 60px 0;
    text-align: center;
}

#works ul{
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#works ul li{
    width: 32%;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    text-align: left;
}

#works ul li p{
    padding: 10px 10px 0;
    font-weight: bold;
}

#works ul li p.cap{
    font-size: 10px;
    font-weight: normal;
    color: #666;
}

#works ul li button{
    display: block;
    width: 94%;
    margin: 10px auto;
    padding: 5px;
    background-color: #8cc63f;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 940px) {
    #works ul li{
        width: 100%;
        margin: 0 auto 30px;
    }
}

/* ABOUT */
#about{
    padding: 60px 0;
    background-image: url(../images/back01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#about table{
    width: 940px;
    margin: 0 auto;
    font-size: 16px;
}

#about table tr th, #about table tr td{
    padding: 20px;
    text-align: left;
}

#about table tr:nth-child(odd) th{
    background-color: #bfe6f6;
}
#about table tr:nth-child(even) th{
    background-color: #eaf7fc;
}
#about table tr:nth-child(odd) td{
    background-color: #f0f0f0;
}
#about table tr:nth-child(even) td{
    background-color: #fafafa;
}

@media screen and (max-width: 940px) {
    #about table{
        max-width: 100%;
        font-size: 14px;
    }
}

/* CONTACT */
#contact{
    background-color: #f2f2f2;
    padding: 60px 0px;
    text-align: center;
}

#contact table{
    width: 940px;
    margin: 0 auto;
    border-collapse: separate;
}
@media screen and (max-width: 940px) {
    #contact table{
        max-width: 100%;
        font-size: 14px;
    }
}
#contact table tr{
    margin-bottom: 20px;
}
#contact table tr th, #contact table tr td{
    padding: 20px;
    text-align: left;
}

#contact table tr th{
    background-color: #badd8c;
}

#contact input[type=text],
#contact input[type=email],
#contact input[type=tel],
#contact textarea{
    width: 100%;
    padding: 20px;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
}

/* footer */
footer{
    width: 100%;
    padding: 60px 0;
}

footer .col2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col2 ul{
    width: 30%;
    font-size: 16px;
}

footer .col2 ul li:nth-child(1){
    margin: 20px 0;
}

footer nav{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 940px){
    footer .col2 ul{
        width: 100%;
        margin-bottom: 30px;
        font-size: 14px;
    }
    footer nav{
        width: 100%;
    }
}
footer nav a{
    position: relative;
    width: 48%;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 3.0em;
    border-bottom: 1px solid #b3b3b3;
}
footer nav a::after{
    display: block;
    position: absolute;
    content: url(../images/arrow_right_glay.svg);
    width: 7px;
    height: 14px;
    top: 0;
    right: 20px;
}

footer nav a:last-child{
    background-color: #8cc63f;
    color :#fff;
    border-bottom: none;
}
footer nav a:last-child::after{
    display: block;
    position: absolute;
    content: url(../images/arrow_right_white.svg);
    width: 7px;
    height: 14px;
    top: 0;
    right: 20px;
}

footer address{
    margin: 60px auto 0;
    text-align: center;
    font-style: normal;
    font-size: 10px;
}

footer #totop{
    opacity: 0;
    transition: 0.5s all;
    display: block;
    width: 60px;
    height: 60px;
    padding: 15px 10px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #29abe2;
    color: #fff;
    text-align: center;
    font-size: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
footer #totop.show{
    opacity: 1;
}

/*ブロック要素のスタイルここまで*/